version: 2.1
orbs:
  ruby: circleci/ruby@0.1.2 

jobs:
  build:
    docker:
      - image: circleci/ruby:3.0.1
    executor: ruby/default
    steps:
      - checkout
      - run:
          name: install bundler
          command: gem install bundler:2.2.20
      - run:
          name: bundle install
          command: bundle install --jobs 4
      - run:
          name: run test
          command: bundle exec rspec
