[Unit]
Description=PBM
After=network.target

[Service]
Type=simple
WorkingDirectory=/usr/share/pbm/current
ExecStart=/bin/bash -c "/home/pi/.rbenv/versions/3.0.1/bin/ruby /usr/share/pbm/current/app.rb"
Restart=no
Nice=-20

[Install]
WantedBy=multi-user.target
